.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.GameBoard {
  border-top: solid 1px #718096;
  border-left: solid 1px #718096;
  margin: 25px auto;
}

.GameRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.GameCell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-right: 1px solid #718096;
  border-bottom: 1px solid #718096;
}

.cell-active {
  background: #68D391;
}

.cell-food {
  background: #ECC94B;
}